.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

/*Shelf*/
.nameContainer{
  padding: 1rem 0 0;
  min-height: 65px;
}

.priceContainer :global(.vtex-store-components-3-x-sellingPriceValue){
  color:#FA5200;
  font-weight:700;
  font-size:1rem
}

.priceContainer{
  padding-top: 0px;
}

.productNameContainer{
  min-height: 50px;
}

:global(.vtex-button__label){
  font-size: .9rem;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  } 
}

<<<<<<< HEAD
.imageContainer{
  border-left:1px solid #f5f5f5;
  border-right:1px solid #f5f5f5;
}
=======
.nameContainer {
  justify-content: start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.brandName {
  font-weight: 600;
  font-size: 18px;
  color: #2E2E2E;
}

.container {
  text-align: start;
}

.imageContainer {
  text-align: center;
}
>>>>>>> 72af2de54684a037008dc35d8d1c0800ff9da61e
