.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer{
  max-width: 1195px;
  margin:0 auto
}
.sliderTrackContainer {
  max-width: 1520px;
}
.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}
.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}
.sliderLayoutContainer--carousel-home-mobile-banners{
  margin-top: 30px;
}
.sliderLayoutContainer--brands{
  margin-bottom: 25px;
  padding-bottom:30px
}
.infoCardContainer--centro-de-servicio-hero{
}
:global(.vtex-store-components-3-x-infoCardCallActionContainer--centro-de-servicio-hero){
  display: none;
}
:global(.vtex-store-components-3-x-infoCardHeadline--centro-de-servicio-hero){
    font-size: 50px;
    font-weight: 100;
    color: white;
}

:global(.vtex-store-components-3-x-infoCardContainer--centro-de-servicio-hero){
  min-height: 400px;
  width: 100%;


}
.paginationDotsContainer--brands{
  bottom: 0px;
}
.sliderLeftArrow--landing{
  margin:0px -42px;
}
.sliderRightArrow--landing{
  margin:0px -42px;
}
.sliderLayoutContainer--landing{
  max-width: 1195px;
  margin-bottom: 25px;
  padding-bottom:30px
}
.paginationDotsContainer--landing{
  bottom: 0px;
}
.sliderLayoutContainer--insta-posts{
  margin-bottom: 30px;
}

.sliderArrows{
  border-radius: 35px;
  border:1px solid #ECECEC;
  background-color: #ffffff;
  padding: 6px;
}