.flexRow{
  width:100%;
  padding:0;
  max-width: 1195px;
  margin: 0 auto;
}

:global(.vtex-flex-layout-0-x-flexRowContent--desk-banners) 
  :global(.vtex-flex-layout-0-x-flexCol--col-desk-1){
      flex-grow: 2;
  }

:global(.vtex-flex-layout-0-x-flexRowContent--desk-banners) 
  :global(.vtex-flex-layout-0-x-flexCol--col-desk-2){
      flex-grow: 3;
  }

:global(.vtex-flex-layout-0-x-flexRowContent--desk-banners){
  justify-content: space-between;
}

:global(.vtex-flex-layout-0-x-flexRowContent--desk-banners)
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
      width: initial!important;
}

.flexRowContent--home-row-social :global(.vtex-store-footer-2-x-socialNetworksContainer){
  justify-content: center;
}

.flexRow--main-header-mobile{
  background: white;
}

:global(.vtex-store-footer-2-x-footerLayout--credits){
  background-color: #000;
  margin-top:0px !important;
}

.flexRow--row-submenu{
  width: 100%;
  padding-bottom: 10px;
}

.flexRow--home-content-instagram{
  margin-top: 30px !important;
}


.flexColChild--filterCol{
  width: 18vw;
}

.flexRow--row-showMore{
  margin-bottom: 5rem;
}

.flexCol--submenu-col-1{
  flex-direction: row;
}

.flexRow--content-static-page{
  padding-bottom: 40px;
}

.flex-column{
  padding: 10px
}

.ph3 {
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}