.specificationsTitle,
.container,
:global(.vtex-shelf-1-x-sliderContainer),
.specificationsTableContainer,
:global(.vtex-reviews-and-ratings-1-x-container){
    max-width: 1195px;
    margin: 0 auto;
    padding: 0;
}

.specificationsTitle{
    margin-top:40px;
    margin-bottom:20px
}

/*Header*/

    :global(.vtex-rich-text-0-x-strong--notification){
        color:#FA5200
    }

    :global(.vtex-rich-text-0-x-paragraph--notification){
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    :global(.vtex-store-header-2-x-headerStickyRow--header-main){
        background:#fff;
    }

    .searchBarContainer	:global(.vtex-store-components-3-x-autoCompleteOuterContainer--header-search) :global(.vtex-styleguide-9-x-input){
        background-color: #F7F7F7;
        max-width: initial;
    }

    :global(.vtex-store-components-3-x-searchBarContainer){
        padding:0px;
        margin:10px 15px;
        background-color: #F7F7F7;
        border:1px solid #eaeaea;
    }

    :global(.vtex-input-prefix__group){
        border:none;
        height: inherit;
        background-color: #f0f0f0;
    }
    
.searchBarContainer 
    :global(.vtex-input-prefix__group)
        :global(.vtex-input__suffix)
            {
                background-color: #F7F7F7;
            }

:global(.vtex-flex-layout-0-x-flexColChild--col-desk-2):nth-child(even){
    align-items: flex-end;
    display: flex;
}
 
:global(.vtex-flex-layout-0-x-flexRow--deals){
    margin: 25px auto;
}

:global(.vtex-slider-layout-0-x-sliderLayoutContainer--images-instagram){
    margin:25px auto 75px
}

:global(.vtex-store-components-3-x-imageElement--images-instagram){
    width: 95%!important;
    height: auto;
    display: block;
    margin: 0 auto;
}

.container--news-footer{
    background-color: #FA5200;
    justify-content: center;
    padding: 25px 0 25px;
    overflow: hidden;
}
.container--news-mobile{
    background-color: #FA5200;
    justify-content: center;
    padding: 25px 0 25px;
    overflow: hidden;
}

.searchBarIcon{
    align-items: center;
}

.container--news-footer .form{
    position: relative;
}

.container--news-footer .form::before,
.confirmationTitle--news-footer::before{
    content:"";
    display: block;
    width:87px;
    height:87px;
    margin-right: 15px;
    background: url("https://maraga.myvtex.com/arquivos/news-footer-img.png") no-repeat center center;
    position: absolute;
    left: -110px;
    top: 20px;
}
.container--news-mobile .form::before,
.confirmationTitle--news-mobile::before{
    content:"";
    display: block;
    height:87px;
    background: url("https://maraga.myvtex.com/arquivos/news-footer-img.png") no-repeat center center;
    margin-bottom: 10px;
}

.label--news-footer{
    color:#ffffff;
    text-align:left;
    float:left;
    margin-bottom: 10px;
}
.label--news-mobile{
    color:#ffffff;
    margin-bottom: 10px;
    font-size: 18px;
}

.label--news-footer::after{
    content:"  MARAGA";
    color:#000000
}

.label--news-mobile::after{
    content:"  MARAGA";
    color:#000000
}

.inputGroup--news-footer{
    padding: 30px 0 0 0;
    width: 100%;
    position: relative;
}

.inputGroup--news-footer::before{
    content:"Obtén un 10% de descuento en tu primer compra";
    font-size: 18px;
    position: absolute;
    top: 0;
    left:0;
}

.inputGroup--news-footer :global(.vtex-styleguide-9-x-input),
.inputGroup--news-mobile :global(.vtex-styleguide-9-x-input){
    height: 45px;
    width: 100%;
    background-color: #E2E2E2;
}

.inputGroup--news-mobile{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.buttonContainer--news-footer :global(.vtex-button){
    height: 45px;
    border:none;
    background: transparent;
    font-weight: 700;
    font-size: 18px;
}

.buttonContainer--news-footer :global(.vtex-button) :global(.vtex-button__label){
    padding-left: 10px;
}


:global(.vtex-search-result-3-x-searchResultContainer) 
:global(.vtex-product-summary-2-x-container){
    border:1px solid #ccc;
}

:global(.vtex-product-summary-2-x-clearLink){
    padding: 0.75rem;
    border:1px solid #ccc;
    border-radius: 10px;
}

:global(.vtex-search-result-3-x-searchResultContainer) 
:global(.vtex-product-summary-2-x-clearLink){
    padding: 0;
    border: 0;
}

:global(.vtex-product-summary-2-x-container){
    padding:10px;
    display: block;
    border:1px solid #fff;
    transition: all .12s linear;
}

:global(.vtex-search-result-3-x-searchResultContainer) 
:global(.vtex-product-summary-2-x-container):hover{
    border-color:#FA5200
}

:global(.vtex-product-summary-2-x-){
    padding:0!important;
    opacity: 0;
    transition: .12s linear;
}

:global(.vtex-slider-layout-0-x-slideChildrenContainer--brands) 
    :global(.vtex-store-components-3-x-imageElement){
        max-width: 160px;
}

:global(.vtex-slider-layout-0-x-slideChildrenContainer--landing) 
    :global(.vtex-store-components-3-x-imageElement){
    width: 100%!important;
    height: auto!important;
    display: block;
    margin: 0 auto;
    max-width: 280px;
}

:global(.vtex-slider-layout-0-x-slideChildrenContainer--carousel) 
    :global(.vtex-store-components-3-x-imageElement){
    width: 95% !important;
}
:global(.vtex-rich-text-0-x-paragraph--title-01){
    padding-left:7px;
}
.imageElement--carousel-mini-banners{
    width: 98%!important;
    height: auto!important;
    display: block;
    margin: 0 auto;
}

.imageElement--landing{
}

:global(.vtex-login-2-x-label){
  display: none
}

:global(.vtex-login-2-x-profileIcon){
  overflow: visible !important;
  width: auto;
  height: 20px;
  position: relative;
  top: -2px;
}

.specificationsTableContainer{
    padding: 0;
}

.price_listPriceLabel,
.sellingPriceLabel,
.listPriceLabel{
    display: none
}

.listPrice,
.sellingPrice{
    float:left
}

.priceContainer{
    display: block;
    width: 100%;
}

:global(.vtex-flex-layout-0-x-flexCol) .priceContainer .listPriceValue{
    line-height: 32px;
    padding: 0 10px 0 0;
    margin-bottom: 0;
}

:global(.vtex-flex-layout-0-x-flexCol) .priceContainer {
    margin: 10px 0 5px;
    overflow:hidden;
    width: 100%;
}

:global(.vtex-flex-layout-0-x-flexCol) .priceContainer .sellingPrice{
    font-size: 24px;
}

:global(.vtex-flex-layout-0-x-flexCol) .priceContainer .installmentsPrice,
:global(.vtex-flex-layout-0-x-flexCol) .priceContainer .price_installment{
    clear: both;
    margin-top:10px;
    font-size: 12px;
    line-height: initial;
    width: 100%;
}

.installmentsPrice{
    display: block;
    clear: both;
    margin-bottom: 10px;
    overflow: hidden;
}

:global(.vtex-flex-layout-0-x-flexCol) .priceContainer .savingPrice{
    display: none;
}

.sellingPriceValue{
    padding-left: 0;
}

.productDescriptionContainer,
.specificationsTableContainer,
:global(.vtex-reviews-and-ratings-1-x-container){
    padding: 20px;
    border:1px solid #ECECEC;
    border-radius: 10px;
}

.specificationsTableContainer{
    margin-bottom: 4rem;
}

.productDescriptionTitle,
.specificationsTitle{
    padding-top: 0;
    margin-top:0;
    font-size: 16px;
    font-weight: 700;
}

.productDescriptionText{
    font-size: 16px;
    line-height: 22px;
}

.productImagesGallerySwiperContainer,
.carouselGaleryThumbs .productImagesThumb .thumbImg{
    border:1px solid #ECECEC;
    border-radius: 10px;
}

.carouselGaleryThumbs .productImagesThumb .thumbImg{
    width: 90%;
    margin:0 auto
}

.productImagesThumbActive .thumbImg{
    border-color:#fa5200!important
}

.container--news-footer .confirmationTitle{
    color:white;
    font-size: 0;
}

.container--news-footer .confirmationTitle::after{
    content:"¡Gracias por suscribirte!";
    font-size: 2rem;
}
.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 28px;
}

.imageElement--img-pagos{
    width:auto;
    float:right
}

:global(.vtex-reviews-and-ratings-1-x-star){
    font-size: 1.3rem;
    color:#FDB819
}

.showMoreButton{
    padding: .5rem 1rem;
    background: #fa5200;
    color:#fff;
    border-radius: 5px;
}

.showMoreButton:hover{
    background-color: #ff6215;
}

.interestRatePrice{
    text-indent: 0;
}

:global(.vtex-rich-text-0-x-strong--title-landing){
    padding:6px;
}
:global(.vtex-rich-text-0-x-paragraph--centro-de-servicio-question){
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
    padding:10px;
}
:global(.vtex-rich-text-0-x-container--find-us-heading){
    border-top: 1px solid #ccc;
    margin: 50px 0px 0px 0px;
}
:global(.vtex-rich-text-0-x-container--find-us-icons)
    :global(.vtex-rich-text-0-x-paragraph){
        font-size: 20px;
        padding: 40px;
}
:global(.vtex-rich-text-0-x-paragraph--welding-tab){
    padding:10px;
}
:global(.vtex-rich-text-0-x-paragraph--como-comprar-title){
    padding:20px 0px;
    margin:0px;
    font-size:24px;
    font-weight: 700;
}
:global(.vtex-rich-text-0-x-container--como-comprar-title){
    border-top: 1px solid #ddd;
    margin: 15px 0px 0px 0px;
}
:global(.vtex-rich-text-0-x-paragraph--formas-de-pago-title){
    padding:20px 0px;
    margin:0px;
    font-size:24px;
    font-weight: 700;
}
:global(.vtex-rich-text-0-x-container--formas-de-pago-title){
    border-top: 1px solid #ddd;
    margin: 15px 0px 0px 0px;
}
:global(.vtex-rich-text-0-x-paragraph--como-comprar-title)::first-letter {
    -webkit-initial-letter: 4;
          initial-letter: 4;
    color: #f07820;
    margin-right: .75em;
    display: inline-block;
    border-radius: 50%;
    width: 30px;
    line-height: 30px;
    text-align: center;
    margin: 5px;
    font-size:29px;
}
:global(.vtex-flex-layout-0-x-flexColChild--como-comprar-content){
    text-align: center;
}
:global(.vtex-store-components-3-x-imageElement--como-comprar-image){
    padding-bottom: 50px;
}

:global(.vtex-flex-layout-0-x-flexColChild--formas-de-pago-content){
    text-align: center;
}
:global(.vtex-store-components-3-x-imageElement--formas-de-pago-image){
    padding-bottom: 50px;
}
:global(.vtex-search-0-x-biggy-autocomplete){
    position: inherit;
}
:global(.vtex-search-0-x-tileListItem)
    :global(.vtex-product-summary-2-x-buyButtonContainer){
        display: none;
}
:global(.vtex-search-0-x-tileListItem)
    :global(.vtex-product-summary-2-x-productBrand){
        font-size: 11px
}
:global(.vtex-search-0-x-tileListItem)
    :global(.vtex-product-summary-2-x-element){
        padding: 0px !important;
}

:global(.vtex-store-components-3-x-imageElement--img-pos){
        margin: 17px 40px;
    }
:global(.vtex-search-0-x-tileListSeeMore){
    line-height: 25px;
}
:global(.vtex-store-components-3-x-imageElement--banner-not-found){
    display: flex;
    justify-content: center;
    margin: auto;
    width: 50%;
}

:global(.vtex-store-components-3-x-searchBarIcon){
    background: none;
}

@media screen and (max-width: 768px) {

    :global(.vtex-store-components-3-x-searchBarContainer){
        background-color: #F7F7F7;
        border:1px solid #eaeaea;
        width: 80%;
        margin: 0px auto 10px auto;
        border-radius: 2px;
    }

:global(.vtex-store-components-3-x-imageElement--banner-not-found){
    display: flex;
    justify-content: center;
    margin: auto;
    width: 90%;
}

}
:global(.vtex-account){
    width: 100%;
    padding: 0;
    max-width: 1195px;
    margin: 0 auto;
}
:global(.vtex-my-account-1-x-menu){
    padding-left: 0rem !important;
    padding-right: 1rem !important;
}
:global(.vtex-store-components-3-x-imageElement--desk-full-banners){
    padding-bottom: 4rem;
}
:global(.vtex-search-result-3-x-orderByOptionsContainer){
    z-index: 10;
}