:global(.vtex-minicart-2-x-cartIcon){
    width: 32px;
    height: 22px;
    overflow: visible!important;
}

.minicartIconContainer{
    width: 30px;
    height: 30px;
    display: block;
}

.icon-button .vtex-button__label{
    padding-left: 0!important;
}

.minicartSideBarContentWrapper :global(.vtex-rich-text-0-x-paragraph){
    padding-left: 25px;
}

:global(.vtex-store-icons-0-x-cartIcon--minicart-empty-state){
    overflow: visible !important;
}